---
- name: Nos aseguramos que Open SSL está instalado.
  apt:
    name: openssl
    state: present
    update_cache: yes
    cache_valid_time: "{{ aptget_update_cache_valid_time }}"

- name: Creamos dhparam.pem para Nginx SSL
  command: openssl dhparam -out /etc/ssl/certs/dhparam.pem 4096 creates=/etc/ssl/certs/dhparam.pem

- name: Instalamos Certbot (Lets Encrypt).
  apt:
    name: certbot
    state: present
    update_cache: yes
    cache_valid_time: "{{ aptget_update_cache_valid_time }}"

- name: Añadimos la tarea cron de comprobación de certificados.
  cron:
    name: "Certificados Certbot"
    minute: "{{ certbot_cron.minute }}"
    hour: "{{ certbot_cron.hour }}"
    day: "{{ certbot_cron.day }}"
    weekday: "{{ certbot_cron.weekday }}"
    job: 'certbot renew --renew-hook "service nginx restart"'